.main-box {
    /* background-color: var(--om-light); */
}

.database-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.titleImage {
    width: 50vw;
    aspect-ratio: auto;
}